{% assign siteURL = "https://jp26jp.github.io/The-Perry-Group" %}
{% for post in site.posts %}
  {% if include.author != nil %}
    {% if post.author == include.author %}
      <h2><a href="{{ siteURL }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt | strip_html }}</p>
    {% endif %}
  {% else %}
    <h2><a href="{{ siteURL }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt | strip_html }}</p>
  {% endif %}
{% endfor %}
