<div class="footer-row" id="logo">
  <img alt="The Perry Group logo" src="/assets/defaults/logos/the-perry-group.svg" />
  <img id="keller-williams" alt="Keller Williams logo" src="/assets/defaults/logos/kw-logo.png" />
</div>
<div class="footer-row" id="social">
  <a href="https://www.facebook.com/theperrygrouput"><i class="theperrygroup-facebook"></i></a>
  <a href="https://www.twitter.com/theperrygrouput"><i class="theperrygroup-twitter"></i></a>
  <a href="https://www.instagram.com/theperrygrouput"><i class="theperrygroup-instagram"></i></a>
</div>
<div class="footer-row" id="copyright">
  © The Perry Group | 2018
</div>
