{% assign siteURL = "http://theperry.group" %}
<ul>
  <li class="menu-item">
    <a href="{{ siteURL | append:'/' }}{{ item.url }}" title="{{ item.title }}">
      <img src="{{siteURL}}/uploads/defaults/logos/the-perry-group.svg" />
    </a>
  </li>
  {% for item in site.data.menu %}
  <li class="menu-item">
    <a href="{{ siteURL | append:'/' }}{{ item.url }}" title="{{ item.title }}">
      <span class="menu-icon theperrygroup-{% if item.icon | downcase %}{{ item.icon }}{% else %}{{ item.title | downcase }}{% endif %}"></span>{{ item.title }}
    </a>
  </li>
  {% endfor %}
</ul>
