{% assign siteURL = "http://theperry.group" %}<div class="social-share">
  <div class="social-share-text">Share</div>
  <a class="social" href="https://www.facebook.com/sharer/sharer.php?u={{ siteURL }}{{ page.url }}" target="_blank" title="Share on Facebook"><i class="theperrygroup-facebook"></i></a>
  <a class="social" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ siteURL }}{{ page.url }}&via={{ site.twitter_creator }}" target="_blank" title="Share on Twitter"><i class="theperrygroup-twitter"></i></a>
</div>
