.agent {

  header {
    position: relative;
  }

  h1 {
    position: absolute;
    top: 50%;
    transform: translate3d(0,-50%, 0);
    color: white;
    left: $spacing * 3;
    z-index: 1;
  }

  .agent-section {
    padding: $spacing;
  }

  .agent-split-section {
    float: left;
  }

  .about-me-section {
    width: 60%;
  }

  .contact-me-section {
    width: 40%;
  }

}
