.agent, .feed {
  header {
    position: relative;
  }

  h1 {
    position: absolute;
    top: 50%;
    transform: translate3d(0,-50%, 0);
    color: white;
    left: $spacing * 3;
    z-index: 1;
  }

  .about-me-section {
    width: 60%;
  }

  .contact-me-section {
    width: 40%;

    .contact-section {
      margin: $spacing / 2 0;
    }

    a {
      display: block;
      line-height: $spacing / 2;
      transition: color $animation;

      &:hover {
        color: $primary;
      }

      &.social {
        display: inline-block;
        margin-top: 0;
      }

      i {
        display: inline-block;
        text-align: left;
        width: $spacing;
        line-height: $spacing / 2;
      }
    }
  }
}
