$agent_image: 50px;

.agent-flair {
  width: 100%;
  color: gray;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  .agent-image,
  .date-name {
    display: inline-block;
    vertical-align: bottom;
    height: $agent_image;
  }

  .agent-image {
    width: $agent_image;
    height: auto;
    border-radius: 100%;
    margin-right: $spacing / 2;
  }

  .date-name-info {
    text-align: left;
    line-height: $agent_image / 2;
  }

}
