@font-face {
  font-family: 'theperrygroup';
  src:  url('http://theperry.group/assets/fonts/theperrygroup.eot?k0vm6y');
  src:  url('http://theperry.group/assets/fonts/theperrygroup.eot?k0vm6y#iefix') format('embedded-opentype'),
    url('http://theperry.group/assets/fonts/theperrygroup.ttf?k0vm6y') format('truetype'),
    url('http://theperry.group/assets/fonts/theperrygroup.woff?k0vm6y') format('woff'),
    url('http://theperry.group/assets/fonts/theperrygroup.svg?k0vm6y#theperrygroup') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="theperrygroup-"], [class*=" theperrygroup-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'theperrygroup' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theperrygroup-menu-options:before {
  content: "\e900";
}
.theperrygroup-home:before {
  content: "\e901";
}
.theperrygroup-contact:before {
  content: "\e902";
}
.theperrygroup-map-point-pointer:before {
  content: "\e903";
}
.theperrygroup-telephone-call-receiver:before {
  content: "\e904";
}
.theperrygroup-facebook-social-network-logo:before {
  content: "\e905";
}
.theperrygroup-twitter-bird-logo:before {
  content: "\e906";
}
.theperrygroup-messenger-user-avatar:before {
  content: "\e907";
}
.theperrygroup-multimedia-menu:before {
  content: "\e908";
}
