nav.navbar.navbar-expand-md {
  padding: 0;

  #logo {
    margin-right: 0.5rem;
    margin-left: 1rem;
  }

  img {
    height: 45px;
    display: block;
  }

  ul li {
    a:hover {
      text-decoration: none;
    }
    a.dropdown-item,
    a.nav-link {
      font-family: 'Open Sans', sans-serif;
      color: #777;
      text-transform: uppercase;

      &:hover {
        color: #333;
        background-color: #f8f9fa;
      }
    }

    a.nav-link {
      padding: 1.5rem;

      &.active,
      &.show {
        background-color: #f8f9fa;
        color: $primary;
        text-shadow: 0 0 0 $primary;
      }
    }

    a.dropdown-item {
      font-size: 85%;
      padding: 1rem 1.5rem;
    }

    .dropdown-item.active,
    .dropdown-item.active:hover,
    .dropdown-item:active:hover,
    .dropdown-item:active {
      color: $primary;
      background-color: #f8f9fa;
    }
  }

  .dropdown-menu {
    border: 0;
    border-radius: 0;
    margin: 0;
  }
}
