#nav {
  padding-top: $spacing;
  width: $menu_width;
  height: 100%;
  position: fixed;
  background: #fff;
  border-left: 1px solid #eee;
  z-index: 2;
  right: 0;

  li {
    text-align: center;
    padding: 0 0 $spacing;

    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 8px;
      color: #aaa;
      display: block;

      img {
        width: 80%;
      }
    }
  }

  .menu-icon {
    font-size: $spacing;
    display: block;
    padding-bottom: $spacing / 4;
  }
}
