#container {
  width: calc(100% - #{$menu_width});

  .halves {
    display: block;
    padding: $spacing * 2.5;
    position: relative;
    overflow: hidden;
  }

  #main-content {
    width: 55%;
    float: right;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 10px #000;
    &.home {
      width: 100%;
    }

    p img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }

  #main-image {
    position: fixed;
    width: 45%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;

    img {
      display: block;
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
}

#author {
  width: 100%;
  height: 50px;
  color: gray;
  text-align: center;
  margin: $spacing 0;

  #author-image,
  #author-name,
  .author-name {
    display: inline-block;
  }

  #author-image {
    width: 50px;
    height: auto;
    border-radius: 100%;
    margin-right: $spacing / 2;
  }

  .author-name {
    line-height: 50px;
    vertical-align: bottom;

    #author-name {
      color: black;
    }
  }
}
