#container {

  #main-image {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: auto;
      top: 50%;
      transform: translate3d(0%,-50%,0);
    }
  }

  #main-content {
    width: 100%;
    max-width: 600px;
    background-color: white;
    margin: auto;
    padding-top: $spacing;

    &.home {
      width: 100%;
    }

    p img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }

}

.author {
  width: 100%;
  color: gray;
  text-align: center;
  margin: $spacing 0;
  padding: $spacing 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  .author-image,
  .author-name {
    display: inline-block;
  }

  .author-image {
    width: 50px;
    height: auto;
    border-radius: 100%;
    margin-right: $spacing / 2;
  }

  .author-name {
    line-height: 50px;
    vertical-align: bottom;

    a {
      color: black;
    }
  }
}

#end-credit {
}
