#container {
  width: calc(100% - #{$menu_width});

  .halves {
    display: block;
    padding: $spacing * 2.5;
    position: relative;
    overflow: hidden;
  }

  #main-content {
    width: 55%;
    float: right;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 10px #000;

    p img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }

  #main-image {
    float: left;
    padding: 0;
    height: 100vh;
    width: 45%;
    position: fixed;

    img {
      height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
    }
  }
}

#author {
  width: 100%;
  height: 50px;
  color: gray;
  text-align: center;
  margin: $spacing 0;

  #author-image,
  #author-name,
  .author-name {
    display: inline-block;
  }

  #author-image {
    width: 50px;
    height: auto;
    border-radius: 100%;
    margin-right: $spacing / 2;
  }

  .author-name {
    line-height: 50px;
    vertical-align: bottom;

    #author-name {
      color: black;
    }
  }
}
