.max-width-container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .max-width {
    max-width: 700px;

    > p:first-of-type:first-letter {
      color: $primary;
      float: left;
      font-size: $spacing * 2.66;
      line-height: $spacing * 2;
      padding-top: $spacing / 2.3;
      padding-right: $spacing / 4;
      padding-left: $spacing / 10;
    }

    p img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }
}
