#related {
  margin-top: $spacing * 2;
  article {
    float: left;
    width: 50%;
    border-top: 1px solid #f5f5f5;

    header {
      height: 300px;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120%;
        height: auto;
        z-index: -1;
        transform: translate3d(-50%,-50%,0);
        transition: transform .3s;
      }
    }
  }
  h2 {
    text-align: center;
    margin-bottom: $spacing;
  }
  h3, h4 {
    margin: 0;
    width: 75%;
    padding-right: $spacing / 3;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;

    &:after {
      content:"";
      transition: .3s opacity;
      z-index: -1;
      background: #202020;
      opacity: .7;
      position: absolute;
      width: 110%;
      height: 110%;
      top: 0;
      left: 0;

    }

  }

  a:hover {
    img {
      transform: scale(1.1) translate3d(-50%,-50%,0);
    }
    h3:after, h4:after {
      opacity: .4;
    }
  }

}
